<div{{ attributes }}>
  <p class="copyright">
    {{ "Copyright" | t }} &copy; {{ year }} {{ copyright_holder }} {# ". All Rights Reserved." | t #}
  </p>
  <a href="http://www.cyberwoven.com" class="cyberwoven" rel="external">
    {{ "Website by" | t }}
    <span>Cyberwoven</span>
  </a>
</div>
